
{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "add-poll" %}">Создать опрос</a></li>{% endblock menu %}
{% block page_header %}Опросы{% endblock page_header %}
{% block content %}
    {% if not lists%}
        <h2>НЕТ ОПРОСОВ</h2>
    {% endif %}

    {% for poll in lists %}
        <div class="card">
            <div class="card-header">
            Опрос {{poll.id }}
            </div>
            <div class="card-body">
            <p class="card-text">{{ poll.question }}</p>
            <a href="{% url "view-poll" poll.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
            {% endfor %}
    {% include 'partial/paginate.html' %}

{% endblock content %}